{% extends 'base.html' %}

{% block title %}
    Curso de Css
{% endblock %}

{% block content %}
    <p>Estamos a dia: {{dame_fecha}}</p>
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/wIU8nKny4Co?si=oE6tTNnYzI_JE_5W&amp;start=14" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen></iframe>

{% endblock %}