{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<!-- !quedo para el orto pero no funca boostrap -->

<div class="container text-center">

        <div style="float: right;">
            {% include "carro/widget.html" %}
        </div>

    <div class="row text-align">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="card" style="margin: 15px 15px;">
                <img src="{{producto.imagen.url}}" class="card-img-top">
                <div class="card-body" style="text-align: center;">
                    <h6 class="card-title">{{producto.nombre}}</h6>
                    <p class="class-text">${{producto.precio}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

